server:
  port: 8080
spring:
  application:
    name: account-service

management:
  endpoints:
    web:
      exposure:
        include: "*"

account-service:
  greeting: "Sou"
  default-value: "Mundo Dev"


